


/*------------------------Обнуление-----------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
 
}
a:hover {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  line-height: 1.3;
  font-size: 20px;
  color: #202020;
  font-weight: 400;
  font-family: roboto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #cdcdb8;
}
._container {
  max-width: 1360px;
  padding: 0px 40px;
  margin: 0px auto;
  box-sizing: content-box;
}
.title {
  margin: 30px 0px 20px 0px;
  color: #752326;
  letter-spacing: 7px;
  text-shadow: 1px 1px 1px #705455;
}

.light {
  color: #cdcdb8;
}
.medium {
  color: #752326;
  font-weight: 600;
}
.dark {
  color: #202020;
}

.header {
  position: fixed;
  width: 60%;
  right: 0;
  top: 0;
  z-index: 50;
  background: #752326;

}
.header__container {
}

.header__menu {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px 15px 0px;
  align-items: center;
  justify-content: center;
}
.menu__item {
	padding: 0px 7px 0px 7px;
}
.menu__link {
	
}

.content {
  flex: 1 1 auto;
  position: relative;
}

.content__personname {
}
.personname {
}
.personname__container {
}
.personname__textblock {
  font-size: 36px;
  z-index: 50;
  letter-spacing: 4px;
}
.personname__textblock .dark {
  top: 100px;
  position: absolute;
  left: 40%;

}
.personname__textblock .medium {
  top: 100px;
  position: absolute;
  right: 60%;
  text-shadow: 1px 1px 2px #705455;
}

.content__block {
  display: flex;
}
.content__container {
	
}
.content__column1 {
  flex: 1 0 40%;
  background: #202020;
 display: flex;
	flex-direction: column;
}
.content__column2 {
  flex: 1 0 60%;
}
.content__me {
	height: 100%;
}
.me {
}
.me__photo {
  margin: 180px 0px 0px 0px;
}
.me__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.me__info {
  padding: 80px 30px 0px 30px;
  flex: 1 1 auto;
  height: 100%;
  

}
.me__info p {
  padding: 0px 0px 10px 0px;
}

.content__contact {
	

}
.contact {
  padding: 80px 30px 80px 30px;
}
.contact__block {
  display: flex;
  padding: 10px 0px 10px 0px;
}
.contact__icon img {
  width: 25px;

}
.contact__icon  {
	display: flex;
  justify-content: right;
  align-items: center;
 }

.contact__link {
  padding: 0px 0px 0px 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}



.content__education {
	padding: 180px 30px 0px 120px;
}
.education {
}
.education__title {
}
.education__univer {
	
}
.education__univer {
	
}
.education__courses h3{
	padding: 30px 0px 0px 0px;
}
.education__courses {
	
}
.medium-title{
	padding: 30px 0px 15px 0px;
}



.content__experience {
	padding: 70px 30px 0px 120px;
}
.experience {
}
.experience__title {
}
.experience__work {
}
.experience__name {
}
.experience__courses {
}

.content__box {
	display: flex;
	padding: 70px 30px 0px 120px;
}

.content__column3 {
	flex: 1 0 36%;
}
.content__column4 {
	flex: 1 0 24%;
}
.content__code {
	padding: 0px 20px 0px 0px;
}
.code {
}
.code__title {
}
.code__name {
	padding: 0px 0px 30px 0px;
	
}
.code__text {
	font-style: italic;
}

.content__skills {
	padding: 0px 0px 140px 20px;
}
.skills ul li {
	 	
	
	padding: 12px 0 12px 60px;
	background-image: url(../img/circle.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
	
	
}

	 

.skills__title {
}
.skills__name {
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 50;
}

.footer__container {
}

.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__row {
  display: flex;
  background: #752326;
  padding: 20px 90px 20px 90px;
}
.footer__language {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px 0px 35px;
}
.footer__name {
	padding: 0px 5px 0px 5px;
}
.footer__point {
	padding: 0px 5px 0px 5px;
}

